h1 {
  color:#30f2d1;
  font-size:60px;
}
p {
  color:#dd4242;
  font-size:25px;
}
#color{
  font-size:30px;
  color:#D29A1A;
}
body {
    background-image: url('back.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
