h1 {
  color:#30f2d1;
  font-size:60px;
}
p {
  color:#c070e0;
  font-size:25px;
}
#color{
  font-size:30px;
  color:#f268aa;
}
body {
    background-image: url('man.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
